#!/usr/bin/make -f
# debian/rules for casmgr-server

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_test:
	:

override_dh_auto_install:
	$(CURDIR)/debian/install-package.sh $(CURDIR)

override_dh_installsystemd:
	dh_installsystemd --name=casmgr-postgres --no-start
	dh_installsystemd --name=casmgr-server --no-start

override_dh_installdocs:
	dh_installdocs
